body {font-family:Georgia;margin:2em;line-height:1.6;}
p {margin-bottom:1.5em;}
p::first-letter {font-size:1.5em;}
p::first-line {font-weight:bold;}
mark {background:#ff9;}
blockquote {border-left:4px solid #333;background:#eee;padding:1em;}
