body {font-family:Georgia;background:#f9f9f9;padding:2em;}
h1 {column-span:all;text-align:center;}
.content {column-count:3;column-gap:2em;text-align:justify;}
.left {float:left;width:150px;margin:1em;}
